<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sample NodeJS</title>
    <meta charset="utf-8">
</head>

<body>
    <table id="clientes">
        <tr>
            <th>Titulo</th>
            <th>Descricao</th>
            <th>Preco</th>
        </tr>
       <tr for (livro in data.livros)>
            <td>${livro.titulo}</td>
            <td>${livro.descricao}</td>
            <td>${livro.preco}</td>
        </tr>
    </table>
  
</body>
</html>